<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="showDetails()">HTTPS-DB-Data</button>
  <button ion-button (click)="showRwpsDetails()">RWPS-DATA</button>
  <ion-item *ngIf="toggleButton">
    <!-- <ion-list *ngFor="let det of details">{{det}}</ion-list> -->
    <ion-item *ngFor="let det of details">
      <ion-grid>
        <ion-row>
          <ion-row>{{det.id}}</ion-row>
          <ion-row>{{det.title}}</ion-row>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item>
</ion-content>